@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout";
}
<body>
<div class="Home">
    <h1>School of Rick</h1>
    <img id="hero" src="~/img/Rick.png" />
</div>
</body>